.background{
     height: 588px;
     width: 100%;
     border: 2px solid transparent;
     background-image: url(./img/pexels-anniroenkae-2156881.jpg);
 }
 .body{
     height: 400px;
     width: 300px;
     margin-left: 550px;
     margin-top: 75px;
     border: 1px solid transparent;
     background: transparent;
     border-radius: 20px 0px;
     box-shadow: 20px 20px 50px ;
     align-content: space-around;
     justify-content: flex-start;
 }
 .body :hover{
    background-color: aquamarine;
    border-radius: 50px;
 }
 h1{
     text-align: center;
     color: rgb(234, 4, 255);
     font-size: 30px;
     text-decoration: underline;
     
 }
 input{
     padding-left: 20px;
     margin-left: 50px;
     margin-bottom: 40px;
     background-color: lightpink;
     color:darkmagenta;
 
 }
 button{
     margin-left: 120px;
     color:rgb(255, 168, 6);
     background-color:lightpink;
 }
 .aa video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio:16/9){
    .aa video{
        width: 100%;
        height: fit-content;
    }
    
}

  